/elpa/archive-contents
/.org-id-locations
/auto-save-list/.saves-14908-dyn-152-3-84-145~
/auto-save-list/.saves-157-Leanbh~
/auto-save-list/.saves-161-Leanbh~
/auto-save-list/.saves-18963-wl-10-180-77-218~
/auto-save-list/.saves-2037-wl-10-180-33-63~
/auto-save-list/.saves-2521-wl-10-180-46-17~
/auto-save-list/.saves-253-Iolar~
/auto-save-list/.saves-2776-user-67-159-93-122~
/auto-save-list/.saves-34910-Iolar~
/auto-save-list/.saves-3768-Iolar~
/auto-save-list/.saves-4101-Iolar~
/auto-save-list/.saves-5210-Iolar~
/auto-save-list/.saves-53157-Iolar~
/auto-save-list/.saves-551-w-dhcp00400~
/auto-save-list/.saves-66375-Leanbh~
/auto-save-list/.saves-7388-Iolar~
/auto-save-list/.saves-80441-mid-campus-03961~
/auto-save-list/.saves-83035-wl-10-180-110-200~
/auto-save-list/.saves-8377-Iolar~
/backups/!Users!kjhealy!.emacs.d!auto-save-list!.saves-2037-wl-10-180-33-63~~
/backups/!Users!kjhealy!.emacs.d!color-themes!color-theme-tangotango.el~
/backups/!Users!kjhealy!.emacs.d!custom.el~
/backups/!Users!kjhealy!.emacs.d!elpa!archive-contents~
/backups/!Users!kjhealy!.emacs.d!elpa!archives!gnu!archive-contents~
/backups/!Users!kjhealy!.emacs.d!elpa!builtin-packages~
/backups/!Users!kjhealy!.emacs.d!elpa!idle-highlight-1.0!idle-highlight-autoloads.el~
/backups/!Users!kjhealy!.emacs.d!elpa!inf-ruby-2.1!inf-ruby-autoloads.el~
/backups/!Users!kjhealy!.emacs.d!elpa!js2-mode-20090723!js2-mode-autoloads.el~
/backups/!Users!kjhealy!.emacs.d!elpa!ruby-mode-1.1!ruby-mode-autoloads.el~
/backups/!Users!kjhealy!.emacs.d!elpa!yasnippet-bundle-0.6.1!yasnippet-bundle-autoloads.el~
/backups/!Users!kjhealy!.emacs.d!kjhealy.org~
/backups/!Users!kjhealy!.emacs.d!src!auctex-src!.gitignore~
/backups/!Users!kjhealy!.emacs.d!src!browse-kill-ring!browse-kill-ring.el~
/backups/!Users!kjhealy!.emacs.d!src!minimal!minimal.el~
/backups/!Users!kjhealy!.emacs.d!starter-kit-stats.org~
